@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ffff;
  position: relative;

}
.shadow-custom{
  box-shadow: 10px 10px  #E5E7EB;
}
.bg-custom-color-about-me{
  background-color: #E5E7EB;
}
.bg-custom-gray-light:hover {
  background-color: #F9FAFB;
}
.bg-custom-gray-light:active{
  background-color: #F3F4F6;
}
.hamburger-list{
  border-bottom: 1px solid var(--Gray-100, #F3F4F6);
  border-top: 1px solid var(--Gray-100, #F3F4F6);
}
.hamburger-menu{
  border-bottom: 1px solid var(--Gray-100, #F3F4F6);
}